{
   "Version": "2012-10-17",
   "Statement": [
      {
         "Sid": "AllowAccessToDB",
         "Effect": "Allow",
         "Action": [
             "rds-db:connect"
         ],
         "Resource": [
             "arn:aws:rds-db:{{.Region}}:{{.AccountID}}:dbuser:{{.DbiResourceId}}/{{.DBUserName}}"
         ]
      }
   ]
}