<html lang="">
<head>
    <title></title>
</head>
<body>
Backup DB to S3

<form action="/backup" method="POST">
    <label for="db">DB</label>
    <br/>
    <select id="db" name="db">
        {{range $db := .DBOptions}}
        <option value="{{$db.Value}}">{{$db.Name}}</option>
        {{end}}
    </select>
    <br/>
    <input type="submit" value="Submit">
</form>

</body>
</html>
